.login-hero {
     width: 100%;
     height: 100vh;
     background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 100%),
          url("../../assets/images/bg.png");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     overflow-x: hidden !important;
     position: absolute;
     color: white;

     .logo {
          cursor: pointer;
          img {
               width: 20%;
               margin-left: 4%;
          }
     }

     .login-form {
          width: 500px;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 0);
          margin: auto;
          margin-top: -3.5%;
          background: rgba(0, 0, 0, 0.8);
          padding: 2%;
          border-radius: 5px;
          padding-top: 60px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

          h1 {
               margin: auto;
               font-size: 2.4rem;
               letter-spacing: 1px;
               width: 80%;
               margin-bottom: 4%;
          }

          .input-group {
               margin-bottom: 2%;
               margin: auto;
               display: flex;
               flex-direction: column;
               width: 80%;

               input {
                    border-radius: 4px;
                    border: 0;
                    color: #fff;
                    font-size: 17px;
                    background: #333;
                    padding: 16px 20px;
                    margin: 15px 0;
               }

               .sign-btn {
                    border-radius: 4px;
                    border: 0;
                    color: #fff;
                    font-size: 18px;
                    background: #e50914;
                    padding: 16px 20px;
                    cursor: pointer;
                    margin: 40px 0;
                    margin-bottom: 5px;
               }
          }

          .captcha {
               margin-bottom: 2%;
               margin: auto;
               display: flex;
               width: 80%;
               justify-content: space-between;
               margin-top: 10px;

               input {
                    -ms-transform: scale(1.5); /* IE */
                    -moz-transform: scale(1.5); /* FF */
                    -webkit-transform: scale(1.5); /* Safari and Chrome */
                    -o-transform: scale(1.5); /* Opera */
                    transform: scale(1.5);
                    background: #000;
                    padding: 7px;
                    margin-right: 7px;
                    margin-left: 5px;
               }

               .need-help {
                    color: #888;
                    font-size: 15px;
                    cursor: pointer;
                    user-select: none;
               }
          }

          .back,
          .back2 {
               margin-bottom: 2%;
               display: flex;
               margin-left: 50px;
               color: #888;
               letter-spacing: 0.5px;
               width: 100%;
               justify-content: space-between;
          }

          .back {
               margin-top: 80px;

               .clickhere {
                    margin-right: 50%;
                    color: white;
                    cursor: pointer;
               }
          }

          .back2 {
               margin-top: 13px;
               font-size: 14px;
               line-height: 20px;
               width: 70%;
               margin-bottom: 5%;
          }
     }
}

@media screen and (max-width: 700px) {
     .logo {
          cursor: pointer;
          img {
               width: 35% !important;
               margin-left: 4%;
          }
     }

     .back2 {
          margin-bottom: 25% !important;
     }

     .clickhere {
          margin-left: -7px !important;
          color: white;
          cursor: pointer;
     }
}
