@import url('https://fonts.googleapis.com/css2?family=Joan&family=Ubuntu:wght@500&display=swap');

#actor-pop {
     margin-bottom: 100px !important;
}

#popular {
     max-width: 100%;
     overflow: hidden;
}

.caro {
     width: 100%;
     max-width: 800px;
     margin: 50px;
     margin-bottom: 20px !important;

     .actor-heading {
          margin: 80px 20px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .logo {
               border-right: 2px solid rgba(204, 204, 204, 0.4);
               padding-right: 50px;
               height: 50px;
               display: flex;
               align-items: center;
               
               img {
                    width: 90px;
               }
               h2 {
                    font-size: 37px;
                    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
                    letter-spacing: 1px;
                    margin-top: 5px;
               }
          }

          .nav-ul {
               margin-top: 10px;
               .nav-li {
                    .nav-link {
                         color: rgba(204, 204, 204, 0.745);
                         font-weight: bolder;
                         letter-spacing: 0.8px;

                         &:hover {
                              color: #fff;
                         }
                    }
               }
          }

          .actor-search {
               position: absolute;
               border-bottom: 1px solid #ccc;
               padding: 7px 5px;
               right: 5%;

               input {
                    background: none;
                    border: none;
                    color: white;
                    padding-left: 8px;
               }

               i {
                    margin-left: 20px;
                    font-size: 20px;
                    cursor: pointer;
               }
          }
     }

     .caro-item {
          display: flex;

          .actor-item {
               width: 100%;
               height: 100%;
               background-color: #000;
               transition: all 0.5s;
               margin: 5px 18px;

               .actor-img {
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: top center;
                    width: 300px;
                    background-color: #fff;
                    position: relative;
                    cursor: grab;
                    border-radius: 20px;

                    .item-title {
                         color: white;
                         text-align: center;
                         position: absolute;
                         bottom: 0;
                         font-weight: 700;
                         background: rgba(0, 0, 0, 0.414);
                         left: 50%;
                         font-size: 22px;
                         transform: translateX(-50%);
                         padding: 3px;
                         width: 80%;
                         font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
                         display: flex;
                         justify-content: center;
                    }

                    .inner-info {
                         display: none;
                    }

                    .play-icon {
                         cursor: pointer;
                         position: absolute;
                         color: red;
                         top: 50%;
                         left: 50%;
                         transform: translate(-50%, -50%);
                         width: 60px;
                         height: 60px;
                         border-radius: 50%;
                         background-color: rgba(255, 255, 255, 0.526);
                         border: 4px solid white;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         font-size: 20px;
                         display: none;
                    }
               }

               .actor-info {
                    display: flex;
                    height: 100%;
                    flex-direction: column;
                    color: white;
                    font-family: 'Ubuntu', serif;
                    position: relative;

                    p {
                         position: absolute;
                         bottom: -10px;
                         margin-top: 5px;
                         left: 50%;
                         transform: translate(-50%);
                         padding: 7px 15px;
                         font-size: 22px;
                         border-radius: 10px;
                         letter-spacing: 1px;
                         word-spacing: 2px;
                         width: max-content;
                         display: flex;
                         justify-content: center;

                         
                         span {
                              margin-right: 10px;
                              margin-left: 10px;
                              font-size: 17px;

                              i {
                                   color: yellow;
                                   font-size: 14px;
                                   margin-right: 2px;
                              }
                         }
                    }
               }

               .actor-img {
                    height: 390px !important;
               }
          }
     }
}

@media screen and (max-width: 500px) {
     #popular {
          margin-left: -30px;
     }
     .caro {
          .actor-img {
               width: 200px !important;
               height: 150px !important;
          }
     }
}
