.home-hero {
     width: 100%;
     height: 100vh;
     background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.8) 100%),
          url("../../assets/images/bg.png");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     overflow: hidden;
     position: absolute;
     color: white;

     .d-flex {
          align-items: center;
          display: flex;
          .logo {
               cursor: pointer;
               img {
                    width: 90%;
                    margin-left: 4%;
               }
          }

          .sign-in {
               cursor: pointer;
               position: absolute;
               right: 5%;
               padding: 10px 17px;
               padding-bottom: 8px;
               font-family: sans-serif;
               font-size: 17px;
               font-weight: normal;
               letter-spacing: 1px;
               border-radius: 3px;
               background: #e50914;

               a {
                    color: white;
               }
          }
     }

     .hero-container {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          text-align: center;
          h1 {
               font-size: 64px;
               font-weight: bold;
               margin-bottom: 10px;
               color: white;
          }
          h4 {
               font-size: 26px;
               font-weight: normal;
               margin-bottom: 10px;
               margin-top: 20px;
               color: white;
          }
          p {
               font-size: 20px;
               font-weight: normal;
               margin-bottom: 10px;
               color: white;
          }

          .hero-form {
               width: 100%;
               display: flex;
               justify-content: center;
               align-items: center;
               margin-top: 28px;

               .sign-input {
                    width: 100%;
                    width: 650px;
                    padding: 30px 0;
                    padding-left: 10px;
                    padding-right: 20px;
                    font-size: 17px;
                    outline: none;
               }

               .sign-btn {
                    width: 35%;
                    padding: 23.5px;
                    border-radius: 1px;
                    font-size: 27px;
                    outline: none;
                    border: none;
                    background: #e50914;
                    color: white;
                    cursor: pointer;

                    &:hover {
                         background: #ff0714;
                    }
               }
          }
     }
     .required {
          color: orange !important;
          font-size: 12px;
          margin-top: 5px;
          text-align: left;
          margin-left: 23%;
          letter-spacing: 0.7px;
          display: none;
     }
}

@media screen and (max-width: 800px) {
     .home-hero {
          .d-flex {
               align-items: center;
               display: flex;
               .logo {
                    cursor: pointer;
                    img {
                         width: 35%;
                         margin-left: 4%;
                    }
               }
          }

          .hero-container {
               h1 {
                    font-size: 50px;
               }
               h4 {
                    font-size: 22px;
               }
               p {
                    font-size: 16px;
               }

               .hero-form .d-flex {
                    display: flex;
                    flex-direction: column;

                    .sign-input {
                         max-width: 500px;
                         margin-bottom: 20px;
                         padding-right: 250px;
                         padding-top: 20px;
                         padding-bottom: 20px;
                    }

                    .sign-btn {
                         width: 100%;
                         border-radius: 1px;
                         font-size: 27px;
                         outline: none;
                         padding-top: 20px;
                         padding-bottom: 20px;
                    }
               }
          }
     }
}

@media screen and (max-width: 470px) {
     .home-hero {
          .d-flex {
               align-items: center;
               display: flex;
               .logo {
                    cursor: pointer;
                    img {
                         width: 30%;
                         margin-left: 4%;
                    }
               }
          }

          .hero-container {
               h1 {
                    font-size: 40px;
                    padding: 0 5px;
               }
               h4 {
                    font-size: 17px;
               }
               p {
                    font-size: 14px;
               }

               .hero-form .d-flex {
                    padding: 0 5px;
                    .sign-input {
                         width: 100%;
                         width: 300px !important;
                         margin-bottom: 20px;
                         padding-right: 10px;
                         padding-top: 14px;
                         padding-bottom: 14px;
                    }

                    .sign-btn {
                         width: 100%;
                         border-radius: 1px;
                         font-size: 25px;
                         outline: none;
                         padding-top: 14px;
                         padding-bottom: 14px;
                    }
               }

               .required {
                    text-align: left;
                    margin-left: 14%;
               }
          }
     }
}

// #0C0342
