.more-btn {
     margin-left: 4.5%;
     width: 80%;
     margin-top: 10px;
     cursor: pointer;
     margin-bottom: 150px !important;
     button {
          font-size: 18px;
          background: red;
          color: white;
          border: none;
          box-shadow: 0 0 4px 8px red;
          font-family: "Ubuntu", sans-serif;
          padding: 2px 15px;
          border-radius: 20px;
     }
}