.footer {
     border-top: 2px solid rgba(204, 204, 204, 0.266);
     margin-top: 80px;
     padding-top: 50px;
     width: 100%;
     height: 260px;
     background: rgb(0, 0, 0);
     color: rgb(255, 255, 255);
     justify-content: center;
     display: flex;
     flex-direction: column;

     &-first {
          max-width: 700px;

          p {
               line-height: 27px;
               color: rgba(165, 164 ,164);
               letter-spacing: 0.5px;
               font-size: 14px;
          }

          ul {
               margin-left: -30px;
               margin-bottom: 35px;
               a {
                    margin-right: 28px;
               }
          }
     }
}

.social-icons {
     margin-left: -15px;
     p {
          letter-spacing: 1px;
          font-size: 20px;
          font-family: "Ubuntu", sans-serif;
          color: #ccc;
     }
     
     i {
          font-size: 22px;
          background: #111;
          margin: 0 25px;
          margin-left: 0;
          justify-content: center;
          cursor: pointer;
          display: flex;
          align-items: center;
          border-radius: 50%;
          width: 2.5em;
          height: 2.5em;
     }
}

.logo-item {
     margin-left: 9%;
     margin-bottom: 7px;
}

.footer a {
     color: rgb(165, 164, 164);
     letter-spacing: 1px;
}

.footer a:hover {
     color: rgb(165, 164, 164);
     text-decoration: underline !important;
}

.footer-ul {
     justify-content: space-around;
}    

.flex-footer li {
     margin: 0 10px;
}

.flex-footer li a {
     margin-top: 2px;
}

.facebook:hover {
     background: #3B5997;
     transition: all 0.5s ease-in-out;
}

.instagram:hover {
     background: #ed1919;
     transition: all 0.5s ease-in-out;
}

.google:hover {
     transition: all 0.5s ease-in-out;
     background: yellowgreen;
}

.twitter:hover {
     background: #1EA1F3;
     transition: all 0.5s ease-in-out;
}


@media only screen and (max-width: 769px) {
     .logo-item {
          display: none !important;
     }

     .footer-ul {
          display: flex;
          flex-direction: column-reverse;
     }

     .social-icons {
          margin-bottom: 40px;
          margin-left: 5px;
          margin-top: 50px;
     }
}

@media only screen and (max-width: 509px) {
     .social-icons {
          margin-bottom: 40px;
          margin-left: 5px;
          margin-top: 150px;
     }
}