.watchlist-top {
     border: none !important;
     h1 {
          font-family: "Ubuntu", serif;
          letter-spacing: 1.5px;
     }
}

.trash {
     margin-right: 150px;
     &:hover {
          transform: scale(1.1);
          transition: all 0.3s ease-in-out;
     }
}

@media only screen and (max-width: 600px) {
     .watch-heading {
          font-size: 15px;
          text-align: center !important;
     }

     .first-child {
          margin-left: 60px;
     }

     .trash {
          font-size: 20px;
          margin-right: 60px;
          margin-top: 15px;
     }
}