.movie-item {
     width: 100%;
     height: 100vh;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;

     .movie-item-info {
          width: 50%;
          max-width: 700px;
          margin-top: 8%;
          height: max-content;
          margin-left: 6%;

          .movie-item-info-top {
               padding: 35px 30px;
               padding-bottom: 10px;
               border-radius: 5px;
               background: rgba(0, 0, 0, 0.375);
               box-shadow: 0 0 10px 10px rgba(56, 55, 55, 0.493);
          }

          h1 {
               font-size: 70px;
               text-transform: uppercase;
               font-weight: 700;
               font-family: "Ubuntu", sans-serif;
               letter-spacing: 2.7px;
               line-height: 70px;
               word-spacing: 7.2px;
               margin-top: -15px;
               color: #dfdfdf;
               text-shadow: 4px 4px 0px #000, 7px 4px 0 rgb(255, 10, 10);
          }

          .movie-heading-long {
               font-size: 40px !important;
               line-height: 50px;
          }

          .item-settings {
               display: flex;
               align-items: center;
               margin-top: 17px;
               margin-bottom: 20px;
               font-size: 9px;

               .movie-lang {
                    border: 2px solid white;
                    padding: 2px 7px;
                    text-transform: capitalize;
                    letter-spacing: 2px;
                    font-size: 18px;
                    margin-right: 15px;
               }

               span {
                    display: flex;
                    align-items: center;
                    font-size: 22px;
                    margin-right: 15px;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    img {
                         width: 55px;
                         margin-left: 15px;
                         margin-right: 5px;
                    }
               }

               .movie-year {
                    margin-left: 15px;
                    background: #e50916;
                    padding: 0px 7px;
                    letter-spacing: 2px;
               }
          }

          .movie-genre {
               .movie-genre-list {
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 4px;
                    margin-bottom: 0px;

                    .movie-genre-item {
                         margin-right: 17px;
                         position: relative;
                         font-size: 22px;
                         font-family: "Ubuntu", sans-serif;
                    }

                    .movie-genre-item:not(:last-child) {
                         position: relative;

                         &::after {
                              content: ",";
                              position: absolute;
                              top: 0;
                              right: -7px;
                         }
                    }
               }
          }

          .movie-overview {
               font-size: 15px;
               letter-spacing: 0.7px;
          }

          .watch-trailer-icon {
               align-items: center;
               margin-top: 30px;
               margin-left: 3%;
               a {
                    cursor: pointer;
                    color: red;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    background: #ccc;
                    border: 4px solid #ccc;
                    box-shadow: 0 0 10px 5px white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;

                    &:hover {
                         transition: all 0.5s ease;
                         background-color: rgba(255, 255, 255, 1);
                    }
               }
               p {
                    margin-top: 20px;
                    align-items: center;
                    display: flex;
                    margin-left: 20px;
                    letter-spacing: 1px;
                    font-size: 27px;
               }
          }

          .movie-cast {
               align-items: center;
               margin-top: 7%;

               &-heading {
                    font-family: "Ubuntu", sans-serif;
                    margin-right: 15px;
               }

               &-list {
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 10px;
                    align-items: center;
               }

               &-item {
                    margin-right: 15px;
                    position: relative;
                    letter-spacing: 0.5px;
               }

               &-item:not(:last-child) {
                    &::after {
                         content: ",";
                         position: absolute;
                         top: 0;
                         right: -7px;
                    }
               }
          }
     }

     .movie-item-trailer {
          width: 50%;
          margin-right: -7%;
          margin-top: 50vh;
          height: 338px;
          max-width: 600px;
          border-radius: 15px;
          box-shadow: 0 0 25px 2px #ccc;
          background-repeat: no-repeat;
          background-size: contain;

          &-icon {
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               cursor: pointer;
               color: red;
               width: 60px;
               height: 60px;
               border-radius: 50%;
               background: #ccc;
               border: 4px solid #ccc;
               box-shadow: 0 0 14px 8px red;
               display: flex;
               justify-content: center;
               align-items: center;
               font-size: 20px;

               &:hover {
                    transition: all 0.5s ease;
                    box-shadow: 0 0 20px 15px red;
               }
          }
     }
}
